body{
    font-family:Arial, Helvetica, sans-serif
}
.main-body{
width:100vw;
display: flex;
}
img{
    width: 300px;

}
.card-body{
    width: 300px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    margin:20px
}

.text{
    padding: 0px 12px 18px 15px;
}
.readmore {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: rgb(62, 156, 211);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  text-align: center;
  cursor: pointer;
  width: 50%;
  font-size: 18px;
}


